.hexagon{
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 12px;
}

.icon{
  height: 65%;
  width: 85%;
}
p{
  font-size: 0.8rem;
  padding-top: 1%;

}