.hexagon{
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
  transition: box-shadow 0.3s ease-in-out;
}

.hexagon:hover{

  box-shadow: 0 0 30px rgba(52, 152, 219, 1);
}

.icon{
  height: 65%;
  width: 85%;
}
p{
  font-size: 0.8rem;
  padding-top: 1%;

}